version: "3"
services:
  web:
    image: jieanyang/get-started:v0.0.1
    deploy:
      replicas: 3
      resources:
        limits:
          cpus: "0.1"
          memory: 50M
      restart_policy:
        condition: on-failure
    ports:
      - "4000:80"
    networks:
      - webnet

networks:
  webnet: